<!DOCTYPE html>
<html>
<head>
 <title>Welcome to Gavin's Blog</title>
</head>
<body>
 <!-- Site Header -->
 <h1>Hi. I am Gavin. Welcome to my blog!</h1>

<!-- Blog Post -->
 <h2>My First Blog Post</h2>
 <p>Here is my first blog post. I Love Piazz!</p>
  <p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523850372145&di=ba82f3aef7942aa69af47e099a1171a4&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201504%2F12%2F20150412H0957_PrJYF.thumb.700_0.jpeg"></p>
  <p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523850453718&di=68746b52458d1c3dff9c8c337e37a51c&imgtype=0&src=http%3A%2F%2Fimg2.ph.126.net%2FAADC_KvnTQotKAelu_TNBg%3D%3D%2F6608492592957138203.jpg"><p>
  <p>This is one of my favorite kinds of pizza!</p>
  
  <p>Pizza is a traditional Italian dish consisting of a yeasted flatbread typically topped with tomato sauce and cheese and baked in an oven. It can also be topped with additional vegetables, meats, and condiments, and can be made without cheese.<p>

<!-- Like And Comment -->
 <button>Like</button>
 <h2>Leave a Comment</h2>
 <form action="{% url 'blog:home_page' %}" method="POST">
 {% csrf_token %}
 <input type="text" placeholder="Please Enter Your username" name="username"><br><br>
 <textarea name="comment" placeholder="Please Enter Your Comment"></textarea><br>
 <input type="submit" value="Post Me!">
 </form>

<h2>Comments</h2>
 User {{username}} says: {{comment}}
</body>
</html>
